services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: Helperviewer_backend
    ports:
      - "5555:5000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/Helperviewer_db
      REDIS_URL: redis://redis:6379/0
      EVENTLET_NO_GREENDNS: "yes"
      FLASK_ENV: development
    volumes:
      - ./backend:/app
      - ./frontend:/frontend
      - "C:/Users/shira/OneDrive/שולחן העבודה/finalProjectFiles/DB for Proj:/data/dataset:ro"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
  postgres:
    image: postgres:15-alpine
    container_name: Helperviewer_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: Helperviewer_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: Helperviewer_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
