Flask==3.0.0
Flask-CORS==4.0.0
Flask-SocketIO==5.3.6
python-socketio==5.10.0
eventlet==0.33.3
psycopg2-binary==2.9.9
redis==5.0.1
python-dotenv==1.0.0
gunicorn==21.2.0
faster-whisper==1.2.1
mediapipe==0.10.14
opencv-python-headless==4.13.0.92
numpy==2.4.4
librosa==0.11.0
soundfile
scikit-learn==1.8.0
scipy==1.17.1
joblib
gdown>=4.7.0
requests>=2.31.0
pypdf>=4.0.0
